* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 12vh;
  background-color: rgb(218, 213, 213);
  position: sticky;
  top: 0px;
  margin-bottom: 2%;
}

.inform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40%;
  gap: 18%;
  font-weight: bold;
  color: rgb(8, 116, 116);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4%;
  color: rgb(8, 116, 116);
  font-weight: bold;
}

.logo > img {
  border: 2px solid rgb(16, 92, 92);
  border-radius: 50%;
}

footer {
  background-color: rgb(218, 213, 213);
  margin-top: 9%;
  height: 50vh;
}

.form-icons {
  margin-left: 34%;
  font-size: 40px;
}

.form-icons > div {
  margin-top: 5%;
  margin-left: 5%;
}

.adress {
  margin-top: 3%;
  margin-left: 26%;
  color: rgba(0, 0, 0, 0.351);
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  margin-top: 5%;
  margin-left: 9%;
  gap: 15%;
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.web-gmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second-footer {
  margin-top: 2%;
  margin-left: 45%;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.372);
}

.inform :hover {
  background-color: orange;
  color: white;
  border-radius: 10%;
}

.contact span {
  gap: 10px;
}

.about-us {
  height: 210vh;
}

.color-gray {
  background-color: rgb(202, 200, 200);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10vh;
  width: 80%;
  margin-left: 20vh;
  margin-top: 10vh;
}

.color-gray h1 {
  margin-top: -60px;
}

button {
  background: teal;
  color: white;
  height: 9vh;
  width: 45%;
  border: 1px teal;
  margin-left: 48%;
  margin-top: -50px;
}

.about-us p {
  background-color: rgb(164, 214, 214);
  width: 80%;
  height: 30vh;
  margin-left: 9%;
  padding-left: 15px;
  margin-top: 10vh;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px 10px 10px 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

iframe {
  width: 100%;
  margin-top: 10.7%;
}