nav {
  display: flex;
  height: 12vh;
  background-color: rgb(218, 213, 213);
  position: sticky;
  top: 0px;
}
nav .logo {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-left: 4%;
  color: rgb(8, 116, 116);
  font-weight: bold;
}
nav .logo img {
  border: 2px solid rgb(16, 92, 92);
  border-radius: 50%;
}
nav .inform {
  display: flex;
  align-items: center;
  margin-left: 40%;
  gap: 18%;
  font-weight: bold;
  color: rgb(8, 116, 116);
}
@media screen and (max-width: 620px) {
  nav .inform {
    gap: 10%;
    margin-inline: 20%;
  }
}

footer {
  background-color: rgb(218, 213, 213);
  margin-top: 9%;
  height: 50vh;
  padding-top: 50px;
}
footer .form-icons {
  margin-left: 30%;
  font-size: 40px;
}
footer .adress {
  margin-top: 2%;
  margin-left: 26%;
  color: rgba(0, 0, 0, 0.351);
}
footer .contact {
  display: flex;
  font-size: 15px;
  margin-top: 5%;
  margin-left: 9%;
  gap: 12%;
}
footer .contact .email {
  display: flex;
  gap: 4%;
  gap: 15%;
}
footer .contact .phone-number {
  display: flex;
}
footer .contact .web-gmail {
  display: flex;
}
footer .contact span {
  gap: 10px;
}
footer .second-footer {
  margin-top: 3%;
  margin-top: 2%;
  margin-left: 45%;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.372);
}
footer .inform :hover {
  background-color: orange;
  color: white;
  border-radius: 10%;
}

footer {
  background-color: rgb(218, 213, 213);
  margin-top: 9%;
  height: 50vh;
  padding-top: 50px;
}
footer .form-icons {
  margin-left: 30%;
  font-size: 40px;
}
@media screen and (max-width: 620px) {
  footer .form-icons {
    margin-inline: 20%;
  }
}
footer .adress {
  margin-top: 2%;
  margin-left: 26%;
  color: rgba(0, 0, 0, 0.351);
}
@media screen and (max-width: 620px) {
  footer .adress {
    margin-inline: 12%;
    padding-top: 3%;
  }
}
footer .contact {
  display: flex;
  font-size: 15px;
  margin-top: 5%;
  margin-left: 9%;
  gap: 12%;
}
footer .contact .email {
  display: flex;
  gap: 4%;
  gap: 15%;
}
footer .contact .phone-number {
  display: flex;
}
footer .contact .web-gmail {
  display: flex;
}
footer .contact span {
  gap: 10px;
}
@media screen and (max-width: 620px) {
  footer .contact {
    margin-inline: 20px;
    padding-top: 3%;
  }
}
footer .second-footer {
  margin-top: 3%;
  margin-top: 2%;
  margin-left: 45%;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.372);
}
@media screen and (max-width: 620px) {
  footer .second-footer {
    margin-inline: 35%;
    padding-top: 3%;
  }
}
footer .inform :hover {
  background-color: orange;
  color: white;
  border-radius: 10%;
}

@media screen and (max-width: 620px) {
  footer {
    padding-top: 5%;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.inform :hover {
  color: rgb(229, 135, 4);
  font-weight: bold;
}

a {
  color: rgb(6, 126, 126);
  text-decoration: none;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  bottom: 12%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #bc7b09;
  border-radius: 0%;
  min-width: 105px;
  right: 3%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #01545a;
  border-radius: 0%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.about-us {
  height: 210vh;
}
.about-us .color-gray {
  background-color: rgb(202, 200, 200);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 80%;
  margin-left: 20vh;
  margin-top: 10vh;
}
.about-us .color-gray button {
  background: teal;
  color: white;
  height: 9vh;
  width: 45%;
  border: 1px teal;
  margin-left: 48%;
  margin-top: -50px;
}
.about-us .color-gray .about-us p {
  background-color: rgb(164, 214, 214);
  width: 80%;
  height: 30vh;
  margin-left: 9%;
  padding-left: 15px;
  margin-top: 10vh;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 10px 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.about-us .color-gray iframe {
  width: 100%;
  margin-top: 10.7%;
}
.about-us .color-gray a {
  color: rgb(6, 126, 126);
  text-decoration: none;
}
.about-us .color-gray a {
  color: rgb(6, 126, 126);
  text-decoration: none;
}
.about-us .color-gray .inform :hover {
  color: rgb(229, 135, 4);
  font-weight: bold;
}
.about-us .color-gray h1 {
  margin-top: -60px;
  color: teal;
}
.about-us .contact-me button {
  background: teal;
  color: white;
  height: 9vh;
  width: 45%;
  border: 1px teal;
  margin-left: 48%;
  margin-top: -50px;
}
.about-us p {
  background-color: rgb(164, 214, 214);
  width: 80%;
  height: 30vh;
  margin-left: 9%;
  padding-left: 15px;
  margin-top: 10vh;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 10px 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.about-us iframe {
  width: 100%;
  margin-top: 8%;
  height: 470px;
}

nav .inform {
  display: flex;
  align-items: center;
  margin-left: 40%;
  gap: 15%;
  font-weight: bold;
  color: rgb(8, 116, 116);
}/*# sourceMappingURL=about-us.css.map */