* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 12vh;
  background-color: rgb(218, 213, 213);
  position: sticky;
  top: 0px;
}
nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4%;
  color: rgb(8, 116, 116);
  font-weight: bold;
}
nav .logo img {
  border: 2px solid rgb(16, 92, 92);
  border-radius: 50%;
}
nav .inform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40%;
  gap: 18%;
  font-weight: bold;
  color: rgb(8, 116, 116);
}

footer {
  background-color: rgb(218, 213, 213);
  margin-top: 9%;
  height: 50vh;
  padding-top: 50px;
}
footer .form-icons {
  margin-left: 30%;
  font-size: 40px;
}
footer .adress {
  margin-top: 2%;
  margin-left: 26%;
  color: rgba(0, 0, 0, 0.351);
}
footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  margin-top: 5%;
  margin-left: 9%;
  gap: 12%;
}
footer .contact .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4%;
  gap: 15%;
}
footer .contact .phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .contact .web-gmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .contact span {
  gap: 10px;
}
footer .second-footer {
  margin-top: 3%;
  margin-top: 2%;
  margin-left: 45%;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.372);
}
footer .inform :hover {
  background-color: orange;
  color: white;
  border-radius: 10%;
}

.inform :hover {
  color: rgb(229, 135, 4);
  font-weight: bold;
}

a {
  color: rgb(6, 126, 126);
  text-decoration: none;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  bottom: 12%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #bc7b09;
  border-radius: 0%;
  min-width: 105px;
  right: 3%;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #01545a;
  border-radius: 0%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.cover {
  /* Caption text */
  /* Fading animation */
}
.cover .slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
}
.cover .slideshow-container .prev,
.cover .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.cover .slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.cover .slideshow-container .prev:hover,
.cover .slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.cover .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cover .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}
.cover .active,
.cover .dot:hover {
  background-color: #717171;
}
.cover .fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

header h1 {
  margin-top: 7%;
  margin-left: 5.3%;
  margin-bottom: 2%;
  color: rgb(10, 107, 107);
}
header .slider-books {
  position: relative;
  max-width: 1200px;
  width: 95%;
}
header .slider-books .history-book {
  display: grid;
  gap: 4%;
  margin-left: 5.5%;
  margin-bottom: 6%;
  grid-template-columns: repeat(10, 1fr);
  font-size: 0;
  overflow-x: auto;
  scrollbar-width: none;
}
header .slider-books .history-book .history-book ::-webkit-scrollbar {
  display: none;
}
header .slider-books .history-book .image-list {
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  height: 300px;
}
header .slider-books .slide-button {
  position: absolute;
  top: 50%;
  height: 50px;
  width: 50px;
  color: #f2f2f2;
  border: none;
  outline: none;
  background-color: black;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
header .slider-books .slide-button .slide-button:hover {
  background: #444;
}
header .slider-books .slide-button .slide-button#prev-slide {
  left: 0.5%;
}
header .slider-books .slide-button .slide-button#next-slide {
  right: -5%;
}