
nav{
    display: flex;
    height: 12vh;
    background-color:$rgb213;
    position: sticky;
    top: 0px;
    // margin-bottom: 2%;
}
.inform{
    display: flex;
    align-items: center;
    margin-left: 40%;
    gap: 18%;
    font-weight: bold;
    color: $rgb116;
}
.logo{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 4%;
    color:$rgb116;
    font-weight: bold;
}
.logo > img{
    border: 2px solid $rgb92;
    border-radius: 50%;
}