@import"./responsive";

nav {
    display: flex;
    height: 8vh;
    background-color: rgb(218, 213, 213);
    position: sticky;
    top: 0;
    margin-bottom: 6%;
    margin-top: 0;

    .logo {
        display: flex;
        justify-items: center;
        align-items: center;
        margin-left: 4%;
        color: rgb(8, 116, 116);
        font-weight: bold;
        img {
            border: 2px solid rgb(16, 92, 92);
            border-radius: 50%;
        }
    }
    @include responsive('Mobile') {
        .inform {
            gap: 10%;
            margin-inline: 20%;
            font-size: 7px;
        }
    }
    .inform {
        display: flex;
        align-items: center;
        margin-left: 40%;
        gap: 18%;
        font-weight: bold;
        color: rgb(8, 116, 116);
    }
}
@include responsive('Mobile') {
    .inform {
        gap: 5px;
        margin-inline: 20px;
        font-size: 7px;
    }
}



