$bbb: #bbb;
$white: white;
$orange: orange;
$rgb8: rgba(0,0,0,0.8);
$f2f2f2: #f2f2f2;
$brown717171:  #717171;
$rgb200: rgb(202, 200, 200);
$teal:teal;
$rgb214:rgb(164, 214, 214);
$rgb213: rgb(218, 213, 213);
$green: green;
$fff: #fff;
$black000:#000;
$rgb0959:rgba(220, 220, 220, 0.959);
$rgb0253: rgba(255, 255, 255, 0.253);
$rgb67171: rgb(6, 71, 71);
$rgb0847:rgba(255, 255, 255, 0.847);
$rgb90: rgb(9, 90, 90);
$rgb6:rgb(187, 124, 6);
$rgb0458:rgba(0, 0, 0, 0.458);
$rgb82:rgb(3, 82, 82);
$rgb0:rgb(206, 134, 0);
$rgb0437:rgba(0, 0, 0, 0.437);
$rgb0756: rgba(231, 13, 13, 0.756);
$rgb0361:   rgba(0, 0, 0, 0.361);
$rgb0351:rgba(0, 0, 0, 0.351);
$rgb0372:rgba(0, 0, 0, 0.372);
$rgb107:rgb(10, 107, 107);
$rgb444:#444;
$rgb115:rgb(9, 115, 115);
$rgb1458:rgb(219, 145, 8);
$rgb110:rgb(4, 110, 110);
$rgb0374:rgba(4, 11, 11, 0.374);
$rgb140:rgb(10, 140, 140);
$rgb116:rgb(8, 116, 116);
$rgb92:rgb(16, 92, 92);