*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
nav{
    display: flex;
    height: 12vh;
    background-color:rgb(218, 213, 213);
    position: sticky;
    top: 0px;
}
.inform{
    display: flex;
    align-items: center;
    margin-left: 40%;
    gap: 18%;
    font-weight: bold;
    color: rgb(8, 116, 116);
}
.logo{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 4%;
    color:rgb(8, 116, 116);
    font-weight: bold;
}
.logo > img{
    border: 2px solid rgb(16, 92, 92);
    border-radius: 50%;
}
.cover {
    position: relative;
    font-family: sans-serif;
}
