@import "main";

.container {
  height: 160vh;

  .slideshow-container {
    .mySlides {
      width: 40%;
      height: 60%;
      background-color: #bbb;
      margin-left: 30%;
      margin-right: 20%;

      img {
        margin-left: 15%;
        margin-bottom: 4%;
        margin-top: 4%;

      }
    }

    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  h1 {
    text-align: center;
    margin-top: 2%;

    strong {
      color: orange;
    }
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    display: flex;
    text-align: center;
    align-items: center;
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

  p {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    text-align: justify;
  }
}
nav {
  display: flex;
  height: 12vh;
  background-color: rgb(218, 213, 213);
}

.inform {
  display: flex;
  align-items: center;
  margin-left: 15%;
  gap: 15%;
  font-weight: bold;
  color: rgb(8, 116, 116);
}

.logo {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-left: 4%;
  color: rgb(8, 116, 116);
  font-weight: bold;
}

.logo > img {
  border: 2px solid rgb(16, 92, 92);
  border-radius: 50%;
}

.cover {
  position: relative;
  font-family: sans-serif;
}

.text-block {
  position: absolute;
  border-radius: 5vh;
  margin-left: 5%;
  bottom: 35%;
  height: 35vh;
  width: 53%;
  background-color: rgba(255, 255, 255, 0.719);
  color: rgb(11, 203, 203);
}