
@import "main";
.cover {
    position: relative;
    font-family: sans-serif;
}

.text-block {
    position: absolute;
    bottom: 50%;
    ;
    height: 35vh;
    width: 55%;
    background-color: $rgb0253;
    color: $rgb67171;
}

.second-block {
    position: absolute;
    bottom: 40%;
}

.second-block>button {
    margin-left: 25%;
    color: $rgb0847;
    font-weight: bold;
    border-radius: 20vh;
    height: 6vh;
    width: 120px;
    border: none;
    background-color: $rgb90;
}
h1 > span {
    color: $rgb6;
}

.text-block>h1 {
    margin-top: 6%;
    margin-left: 5%;
}

.text-block>p {
    margin-top: 2%;
    margin-left: 5%;
    color: $rgb0458;
}

/* header{

} */

.open-time>h1 {
    margin-top: 5%;
    margin-left: 35%;
    font-size: 60px;
    color: $rgb82;
}
.open-time > h1 > span{
    color: $rgb0;
}
.open-time > p {
    color: $rgb0437;
    margin-top: 2%;
    margin-left: 24%;
}

.date-time {
    margin-top: 12%;
    margin-left: 6%;
}

.date-time>.date {
    display: flex;
    font-size: 30px;
    font-weight: bold;
    gap: 20%;
}
.date-time > .date > p> span {
    color: $rgb0756;
}

.vl {
    border: 1px solid $rgb0361;
    height: 60px;
}

footer {
    background-color:$rgb213 ;
    margin-top: 9%;
    height: 50vh;
}

.form-icons {
    margin-left: 34%;
    font-size: 40px;
}

.form-icons>div {
    margin-top: 5%;
    margin-left: 5%;
}

.adress {
    margin-top: 3%;
    margin-left: 26%;
    color: $rgb0351;
}

.contact {
    display: flex;
    font-size: 15px;
    margin-top: 5%;
    margin-left: 9%;
    gap: 12%;
}

.email {
    display: flex;
    gap: 4%;
}

.phone-number {
    display: flex;
}

.web-gmail {
    display: flex;
}

.second-footer {
    margin-top: 3%;
    margin-left: 45%;
    font-size: 10px;
    color: $rgb0372;
}
.inform :hover{
    background-color: $orange;
    color: $white;
    border-radius: 10%;
}
.contact span{
    gap: 10px;
}