@import "main";

.list-book > h1 {
    margin-top: 4%;
    margin-left: 30%;
    margin-bottom: 4%;
    color: $rgb115;
}
.list-book > h1 > span {
    color: $rgb8;
}
.list-book {
    margin-top: 4%;
    margin-left: 4%;
}
.aldult-book , .kids-book , .cooking-book , .technology-book , .hisrory-book , .nature-book , .healty-book{
    display: flex;
    margin-bottom: 4%;
}
.aldult-book > span , .kids-book > span , .cooking-book > span , .technology-book > span , .hisrory-book > span , .nature-book > span , .healty-book > span{
    margin-left: 4%;
}
.aldult-book > span > h3 , .kids-book > span >h3 , .cooking-book > span >h3 , .technology-book > span > h3 , .hisrory-book > span >h3 , .nature-book > span > h3 , .healty-book > span > h3{
    color: $rgb110;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 4%;
}
.aldult-book > span > p , .kids-book > span > p , .cooking-book > span >p , .technology-book > span > p , .hisrory-book > span > p , .nature-book > span > p , .healty-book > span > p{
    color: $rgb0374;
    font-family:Arial, Helvetica, sans-serif;
}

.star > span > h4 , p {
    margin-left: 2%;
}
.star > button {
    background-color: $rgb140;
    border: none;
    margin-top: 20%;
    border-radius: 10vh;
    width: 80px;
    height: 4vh;
}
