@import "main";

.list-book {
    margin-top: 4%;
    margin-left: 4%;

    h1 {
        margin-top: 4%;
        margin-left: 30%;
        margin-bottom: 4%;
        color: rgb(9, 115, 115);

        span {
            color: rgb(219, 145, 8);
        }
    }

    .aldult-book,
    .kids-book,
    .cooking-book,
    .technology-book,
    .hisrory-book,
    .nature-book,
    .healty-book {
        display: flex;
        margin-bottom: 4%;

        span {
            margin-left: 4%;

            h3 {
                color: rgb(4, 110, 110);
                font-family: Arial, Helvetica, sans-serif;
                margin-bottom: 4%;
            }

            p {
                color: rgba(4, 11, 11, 0.374);
                font-family: Arial, Helvetica, sans-serif;
            }

            .star {
                span {

                    h4,
                    p {
                        margin-left: 2%;
                    }
                }

                button {
                    background-color: rgb(10, 140, 140);
                    border: none;
                    margin-top: 20%;
                    border-radius: 10vh;
                    width: 80px;
                    height: 4vh;
                    color: white;

                    a {
                        color: white;
                    }
                }
            }
        }

    }
}