@import "main";

///mission//
.mission {
    position: relative;
    height: 90vh;

    .background {
        position: absolute;
        bottom: -10%;
        margin-left: 5%;

        .parag {
            margin-top: 50px;
        }

        .goal {
            display: flex;
            flex-direction: column;
            margin-top: 5%;

            .goal-1,
            .goal-2,
            .goal-3 {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                padding-right: 40%;
                margin-bottom: 5%;
                gap: 5%;
            }

            .goal-3 {
                .text {
                    padding-top: 10px;
                }
            }
        }
    }
}

nav {
    display: flex;
    height: 12vh;
    background-color: rgb(218, 213, 213);
}
nav .inform {
    display: flex;
    align-items: center;
    margin-left: 40%;
    gap: 15%;
    font-weight: bold;
    color: rgb(8, 116, 116);
  }